
# Copy to .env and edit if needed

# Default ZENOH router for competition. Only needed when using --profile competition in compose
ZENOH_ROUTER_IP=<IP>

# Override compose defaults
# Options are rmw_zenoh_cpp or rmw_fastrtps_cpp
RMW_IMPLEMENTATION=rmw_fastrtps_cpp

# Override Zenoh config file path if needed
ZENOH_CONFIG=
